<div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">NAME:{{lin.name}}</li>
          <li class="list-group-item">Email:{{lin.email}}</li>
          <li class="list-group-item">Phone:{{lin.phone}}</li>
          <li class="list-group-item">Addrss:{{lin.address}}</li>
        </ul>
        <div class="card-body">
            <button (click)="delete(lin.id)" class="btn">delete</button>
            <button class="btn">edit</button>
          </div>
      </div>
</div>
